<div>
  <%= simple_form_for @user do |u| %>
  <%= u.input :email %>
  <% end %>
  <%= simple_form_for @review do |r| %>
  <%= r.input :rating %>
  <%= r.input :content %>
  <%= r.button :submit %>
  <% end %>
</div>
